doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="style.css">
        title SUPER RPG OUAAAAH
    body 
    if formulaire
        block addClass
    else if list
        block classList
    else if rpg 
        block rpg
    if rpg  
        //- pas fini
        script(src="/game.js")
    else
        script(src="/app.js") 
    div.vignette CLIQUEZ BANDE DE-
    img(src="shyguy.png", alt="Maskass", id="shyGuy" , onclick="shyGuyTalk()")